<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load user_filters %}
<main role="main" class="container">
    <div class="row">
        <!-- Левый вспомогательный блок -->
        <div class="col-md-3 mb-3 mt-1">
            <div class="card">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="h3">
                                Об авторе
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="h6 text-muted">
                                {% load static %}
                                <img src="{% static 'about/author.jpeg' %}" alt="My image" width="180" height="180">
                                Имя: Евгений Гуляев <br>
                                Github: <a href="https://github.com/Egulyaev">https://github.com/Egulyaev</a><br>


                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Тело страницы -->
        <div class="col-md-9">
            <div class="card-body">
                <div class="card-text">
                    <p>Путь в разработчики</p>
                    Однажды в далекой далекой галактике, автору пришла в голову мысль, а почему бы не попробовать себя в
                    разработке.
                    Каковы главные причины этого решения:<br>
                    1. Программирование честная инженерная профессия, в которой твои навыки можно оценить достаточно
                    объективно,
                    как в спорте. Либо ты можешь пробежать 100 метров за 5 секунд, либо нет. Третьего не дано.<br>
                    2. Постоянное саморазвитие. Любая твоя ошибка делает тебя лучше.<br>
                    3. Повышение мобильности жизни и дополнительная свобода.<br>
                    <br>
                    Итак, мы сделали первый шаг в освоении новой професии и приобритении навыков. Написали целый проект,
                    который много чего может.
                    Чему мы научились за это время:<br>
                    1. Познали основы SQL.<br>
                    2. Освоили ORM.<br>
                    3. Научились создавать приложения. Узнали многое о возможностях фреймфорка.<br>
                    4. Научились писать тесты.<br>
                    Но самое главное, что мы приобрели основные базовые навыки, которые помогут стать "самоходным"
                    учеником.<br>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}